@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-Black.woff2') format('woff2'),
        url('../fonts/MazzardH-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-Bold.woff2') format('woff2'),
        url('../fonts/MazzardH-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-BlackItalic.woff2') format('woff2'),
        url('../fonts/MazzardH-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/MazzardH-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-Italic.woff2') format('woff2'),
        url('../fonts/MazzardH-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-ExtraBold.woff2') format('woff2'),
        url('../fonts/MazzardH-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/MazzardH-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-BoldItalic.woff2') format('woff2'),
        url('../fonts/MazzardH-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-ExtraLight.woff2') format('woff2'),
        url('../fonts/MazzardH-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-Medium.woff2') format('woff2'),
        url('../fonts/MazzardH-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-Light.woff2') format('woff2'),
        url('../fonts/MazzardH-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-Regular.woff2') format('woff2'),
        url('../fonts/MazzardH-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-MediumItalic.woff2') format('woff2'),
        url('../fonts/MazzardH-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-SemiBold.woff2') format('woff2'),
        url('../fonts/MazzardH-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-LightItalic.woff2') format('woff2'),
        url('../fonts/MazzardH-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/MazzardH-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-Thin.woff2') format('woff2'),
        url('../fonts/MazzardH-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard H';
    src: url('../fonts/MazzardH-ThinItalic.woff2') format('woff2'),
        url('../fonts/MazzardH-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}